.post {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__image > img {
    width: 100%;
    border-radius: 10px;
    height: 500px;
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__top__info {
    margin: 10px;
    align-items: center;
}

.post__top__info  > p{
    font-size: small;
    color: #9B9E9F;
}

.post__bottom {
    margin-left: 10px;
    margin-bottom: 10px;
    align-content: center;
}

.post_bottom__options {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.post_bottom__option {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post_bottom__option:hover {
    cursor: pointer;
}



.post_bottom__option > .MuiSvgIcon-root {
    color: grey;
    /* font-size: xx-large; */
}

.post__comment {
    border-top: 1px solid lightgray;
    height: 280px;
}

.post__comment__blk {
    border-top: 1px solid lightgray;
    height: 100px;
}

.post__comment__button {
    display: none;
}

.post__comment__top {
    display: flex;
    align-items: center;
    /* height: 50px; */
    padding: 15px;
    border-bottom: 1px solid #eff2f5;
    z-index: 99 ;
    position: sticky !important; 
    top: 0;
}

.post__comment-bottom{
    overflow: scroll;
    height: 190px;
}

.post__comment__bottom_container {
    display: flex;
    top:0;
    flex-direction: column-reverse;
}


.post__comment__top > form  {
    flex: 1;
    display: flex;
}

.post__comment__container {
    flex:1;
    width: 100%;
}

.post__comment__container > input {
    height: 32px;
    outline-width: 0;
    border:none;
    padding: 5px 20px;
    border-radius: 999px;
    margin: 0 10px;
    background-color: #F0F2F5;
     width: 85%; 
}

.post__comment__top > form > input {
    outline-width: 0;
    border:none;
    padding: 5px 20px;
    border-radius: 999px;
    margin: 0 10px;
    background-color: #F0F2F5;
}

.post__comment-bottom > ::-webkit-scrollbar {
    display: block;
}
